/*----------------------------------------------------------------------------------*/
/* GLOBAL STYLES */
/*----------------------------------------------------------------------------------*/

* { box-sizing: border-box; }
html { background-color: #FFF; font-family: "Rethink Sans", sans-serif; color: #191919;  }
a { color: #7477BF; text-decoration: none; font-size: 14px; text-align: left;}

/*----------------------------------------------------------------------------------*/
/* DRY STYLES */
/*----------------------------------------------------------------------------------*/

/* AVATARS */
.avatar-s { width: 60px; height: 60px; border-radius: 30px 30px 30px 30px; }
.avatar-m { width: 84px; height: 84px; border-radius: 41px 41px 41px 41px; }

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p { margin: 0; text-align: left; font-weight: 400; }
h2 { margin-bottom: 1rem; }

/* ALERT */
.alert { width: 100%; background-color: #7477BF; color: #fff; padding: 1rem 1.5rem; margin-bottom: 2rem; border-radius: 5px; display: flex; align-items: center; justify-content: space-between; }
.alert img { padding: 0.2rem; transition: background-color 0.3s ease-out; }
.alert img:hover { background-color: #6062a1; border-radius: 5px; }

/* CONTAINER */
.container { padding: 1rem; width: 100%; }
.containerFlex { padding: 1rem; width: 100%; display: flex; flex-direction: column; }

/* BUTTONS */
.btn-primary { background-color: #7477BF; border-radius: 5px; padding: 0.5rem 1rem; border: 1px solid #BEBEC9; transition: background-color 0.3s ease-out; color: #FFF; min-height: 3rem; flex-grow: 1; }
.btn-primary:hover { background-color: #6062a1; }

.btn-secondary { background-color: #999999; border-radius: 5px; padding: 0.5rem 1rem; border: 1px solid #BEBEC9; transition: background-color 0.3s ease-out; color: #FFF; min-height: 3rem; flex-grow: 1; }
.btn-secondary:hover { background-color: #828282; }

.btn-tertiary { background-color: transparent; border-radius: 100px; padding: 0.5rem 1rem; border: none; transition: background-color 0.3s ease-out; }
.btn-tertiary:hover { background-color: #CFCFCF; }
.btn-tertiaryActive { background-color: #81C98F; color: #FFF; border-radius: 100px; padding: 0.5rem 1rem; border: none; }

/* INPUT */
input[type=text] { background-color: #F5F5F5; border: 1px solid #BEBEC9; border-radius: 5px; min-height: 3rem; padding: 0.5rem; }

textarea { background-color: #F5F5F5; border: 1px solid #BEBEC9; border-radius: 5px; min-height: 9rem; padding: 0.5rem; }

input[type=checkbox] { -webkit-appearance: none; position: relative;width: 50px; height: 30px; border-radius: 25px; background-color: #ccc; transition: background .3s; outline: none; cursor: pointer; }
input[type=checkbox]::after { content: ''; position: absolute; top: 50%; left: 30%; transform: translate(-50%, -50%); border-radius: 50%; height: 1.25rem; width: 1.25rem; background-color: white; transition: left .3s; }
input[type=checkbox]:checked { background-color: #7477BF; }
input[type=checkbox]:checked::after { left: 70%; }

select { background-color: #F5F5F5; border: 1px solid #BEBEC9; border-radius: 5px; min-height: 3rem; padding: 0.5rem; }

/* CHARTS */
#traffic { max-height: 420px; }
#dailyTraffic { max-height: 210px; }
#mobileTraffic { max-height: 210px; }

/* LABEL */
label { text-align: left; }

/* NOTIFICATION BELL */
#notificationBell:hover { animation: bellAnim 1s ease 0s 1 normal forwards; }

@keyframes bellAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}

/*----------------------------------------------------------------------------------*/
/* FLEXBOX UTILITES */
/*----------------------------------------------------------------------------------*/

/* DISPLAY */
.d--f { display: flex; }
.d--if { display: inline-flex; }

/* FLEX DIRECTION */
.fd--r { flex-direction: row; }
.fd--c { flex-direction: column; }

/* JUSTIFY CONTENT */
.jc--sb { justify-content: space-between; }

/* ALIGN ITEMS */
.ai--c { align-items: center; }

/* ALIGN CONTENT */
.ac--c { align-content: center; }
.ac--s { align-content: stretch; }

/* GAP */
.ga--s { gap: 0.5rem; }
.ga--m { gap: 1rem; }
.ga--l { gap: 1.5rem; }
.ga--xl { gap: 2rem; }


/*----------------------------------------------------------------------------------*/
/* CSS GRID SETTINGS */
/*----------------------------------------------------------------------------------*/

body {
    margin: 0;
    display: grid;
    grid-template-columns: 100px 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header" 
    "aside tabs tabs"
    "aside generalTraffic generalTraffic"
    "aside dailyTraffic mobileTraffic"
    "aside socialTraffic socialTraffic"
    "aside newMembers recentActivity"
    "aside messageUser settings";
    text-align: center;
}

/*----------------------------------------------------------------------------------*/
/* CSS GRID CHILDREN */
/*----------------------------------------------------------------------------------*/

/* HEADER */
header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #7477BF;
    color: #FFF;
    padding: 24px 16px;
}

/* TABS */
.tabs {
    grid-area: tabs;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.tabs .tabItem {
    padding: 0 1rem;
}

.tabs .tabsFiller {
    border-left: solid #CFCFCF 1px; 
    border-bottom: solid #CFCFCF 1px; 
    height: 100%; 
    width: 100%; 
    background-color: #F7F7F7;
}

/* ASIDE */
aside {
    grid-area: aside;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 2rem;
    background-color: #4D4C72;
}

/* GENERAL TRAFFIC */
.generalTraffic {
    grid-area: generalTraffic;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: solid #CFCFCF 1px;
}

.generalTraffic .buttonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.generalTraffic .buttonGroup {
    display: flex;
    gap: 1rem;
}

/* DAILY TRAFFIC */
.dailyTraffic {
    grid-area: dailyTraffic;
    display: flex;
    border-right: solid #CFCFCF 1px; 
}

/* MOBILE TRAFFIC */
.mobileTraffic {
    grid-area: mobileTraffic;
    display: flex;
}

/* SOCIAL TRAFFIC */
.socialTraffic {
    grid-area: socialTraffic;
    display: flex;
    border-top: solid #CFCFCF 1px;
    border-bottom: solid #CFCFCF 1px;
}

.socialTraffic .socialContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.socialTraffic .socialContent {
    display: flex;
    background-color: #F5F5F5;
    border: 1px solid #CFCFCF;
    border-radius: 10px;
    padding: 1rem;
    flex-grow: 1;
}

.socialTraffic .socialIcon {
    display: flex;
    border-radius: 999px;
    padding: 1rem;
    background-color: #7477BF;
    margin-right: 1rem;
}

.socialTraffic h3 {
    color: #777777;
    font-size: 1.5rem;
    font-weight: 400;
}

.socialTraffic p {
    color: #7477BF;
    font-size: 1rem;
}

/* NEW MEMEBERS */
.newMembers {
    grid-area: newMembers;
    display: flex;
}

.newMembers .memberContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: solid #CFCFCF 1px;
    padding: 0 0 0.5rem 0;
}

.newMembers .memberContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 1rem;
    max-width: 235px;
    word-wrap: break-word;
    margin-right: auto;
}

/* RECENT ACTIVITIES */
.recentActivity {
    grid-area: recentActivity;
    border-left: solid #CFCFCF 1px; 
}
.recentActivity .activityContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom: solid #CFCFCF 1px;
    padding: 0 0 0.5rem 0;
}

.recentActivity .activityContent {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-left: 1rem;
    max-width: 250px;
    word-wrap: break-word;
    margin-right: auto;
}

/* MESSAGE USER */
.messageUser {
    grid-area: messageUser;
    display: flex;
    flex-direction: column;
    border-top: solid #CFCFCF 1px;
    
}

.messageUser form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* SETTINGS */
.settings {
    grid-area: settings;
    display: flex;
    border-top: solid #CFCFCF 1px;
    border-left: solid #CFCFCF 1px;
}

.settings .settingsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.settings .switchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
}

.settings .selectContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.settings .settingsBtnGroup {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    gap: 1rem;
}

.settings form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}


/*----------------------------------------------------------------------------------*/
/* 768px viewport */
/*----------------------------------------------------------------------------------*/

@media screen and (max-width: 768px) {

    /*----------------------------------------------------------------------------------*/
    /* CSS GRID SETTINGS */
    /*----------------------------------------------------------------------------------*/

    body {
        grid-template-areas: 
        "header header header" 
        "aside tabs tabs"
        "aside generalTraffic generalTraffic"
        "aside dailyTraffic mobileTraffic"
        "aside socialTraffic socialTraffic"
        "aside newMembers newMembers"
        "aside recentActivity recentActivity"
        "aside messageUser messageUser"
        "aside settings settings";
    }

    /*----------------------------------------------------------------------------------*/
    /* CSS GRID CHILDREN */
    /*----------------------------------------------------------------------------------*/

    .recentActivity {
        border-top: solid #CFCFCF 1px; 
    }
    
  }


/*----------------------------------------------------------------------------------*/
/* 320px viewport */
/*----------------------------------------------------------------------------------*/

@media screen and (max-width: 320px) {

    /*----------------------------------------------------------------------------------*/
    /* DRY STYLES */
    /*----------------------------------------------------------------------------------*/

    /* AVATARS */
    .avatar-s { width: 32px; height: 32px; border-radius: 16px 16px 16px 16px; }
    .avatar-m { width: 84px; height: 84px; border-radius: 41px 41px 41px 41px; }

    /* TYPOGRAPHY */
    h1, h2, h3, h4, h5, h6, p { margin: 0; }
    h2 { margin-bottom: 1rem; }

    h1 { font-size: 1.5rem; }
    p  { font-size: 0.875rem; }

    /* ALERT */
    .alert {  }


    /*----------------------------------------------------------------------------------*/
    /* FLEXBOX UTILITES */
    /*----------------------------------------------------------------------------------*/

    /* DISPLAY */
    .d--f { display: flex; }
    .d--if { display: inline-flex; }

    /* JUSTIFY CONTENT */
    .jc--sb { justify-content: space-between; }

    /* ALIGN ITEMS */
    .ai--c { align-items: center; }

    /* GAP */
    .ga--s { gap: 0.2rem; }
    .ga--m { gap: 0.5rem; }
    .ga--l { gap: 0.8rem; }
    .ga--xl { gap: 1rem; }

    /*----------------------------------------------------------------------------------*/
    /* CSS GRID SETTINGS */
    /*----------------------------------------------------------------------------------*/

    body {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header" 
        "aside"
        "tabs"
        "generalTraffic"
        "dailyTraffic"
        "mobileTraffic"
        "socialTraffic"
        "newMembers"
        "recentActivity"
        "messageUser"
        "settings";
    }

    /*----------------------------------------------------------------------------------*/
    /* CSS GRID CHILDREN */
    /*----------------------------------------------------------------------------------*/

    header {
       
    }

    .tabs {
       
    }

    aside {
        grid-area: aside;
        display: flex;
        gap: 1.5rem;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 1rem;
        background-color: #4D4C72;
    }

    .generalTraffic {
       
    }

    .generalTraffic .buttonContainer {
        flex-direction: column;
        align-items: flex-start;
    }

    .generalTraffic .buttonGroup {
       margin-top: 1rem;
    }
    

    .dailyTraffic {
        border-bottom: solid #CFCFCF 1px; 
    }

    .socialTraffic h3 {
        font-size: 2rem;
    }

    .mobileTraffic {
        
    }

    .socialTraffic {
       
    }

    .socialTraffic .socialContainer {

        flex-direction: column;
        justify-content: space-between;
    }

    .newMembers {
       
    }

    .recentActivity {
        border-top: solid #CFCFCF 1px; 
    }

    .messageUser {
       
    }

    .settings .settingsBtnGroup {
        margin-top: 1rem;
    }
    
    
  }